<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Twitter @aliencillo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openDonate</string>
			<key>label</key>
			<string>Donate (thanks!)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to Apply Changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Things to disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>lockscreenhscrolling</string>
			<key>label</key>
			<string>Disable Lock Screen Horizontal Scrolling</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>lockscreencamera</string>
			<key>label</key>
			<string>Disable Lock Screen Camera</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>lockscreentoday</string>
			<key>label</key>
			<string>Disable LockScreen Today View</string>
		</dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>sblspageindicator</string>
			<key>label</key>
			<string>Lock Screen Page Dots</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Test</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>iphonexlsfloatingbuttons</string>
			<key>label</key>
			<string>Lock Screen Floating Buttons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>pro.aliencillo.disablethingsprefs</string>
			<key>key</key>
			<string>iphonexhomeindicator</string>
			<key>label</key>
			<string>Home Indicator</string>
		</dict>
	</array>
	<key>title</key>
	<string>Disable Things</string>
</dict>
</plist>
